* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  outline: none;
  box-sizing: border-box;
}

@font-face {
  font-family: Roboto;
  src: url(../fonts/Roboto-Regular.ttf);
}

.container {
  max-width: 1600px;
  margin: auto;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.links {
  font-family: 'Roboto';
  display: flex;
  gap: 40px;

  a {
    font-size: 19px;
    color: #000;
  }
}